<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户凭证详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input" readonly th:value="${user.getName()}">
                </div>

                <label class="layui-form-label">用户ID</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input" readonly th:value="${user.getId()}">
                </div>

                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input" readonly th:value="${project.getName()}">
                </div>

                <label class="layui-form-label">项目ID</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input" readonly th:value="${project.getId()}">
                </div>

                <label class="layui-form-label">认证URL</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input" readonly th:value="${endpoint}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formSubmit">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script th:inline="none">
    layui.use('form', function () {
        var form = layui.form;

        form.on('submit(formSubmit)', function (data) {
            layer.close(layer.index);
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            return false;
        });
    });
</script>

</body>
</html>